<footer th:fragment="footer"
        class="bg-slate-50 border-t border-slate-200 w-full flex flex-col items-center p-8 gap-6 mt-8">
    <div class="max-w-5xl w-full flex max-sm:flex-col justify-between items-center gap-6">
        <div class="space-y-1 flex flex-col items-center">
            <img class="max-w-32" src="/assets/logo.svg" alt="logo">
            <div class="space-y-1 text-gray-700 font-light text-sm">
                <div>
                    Não ta usando? Aluga Aí!
                </div>
                <div>
                    Ta precisando? Aluga Aí!
                </div>
            </div>
        </div>
        <div class="flex gap-4 items-center opacity-50">
            <img src="/assets/facebook-logo-fill.svg" alt="facebook">
            <img src="/assets/instagram-logo.svg" alt="instagram">
            <img src="/assets/youtube-logo-fill.svg" alt="youtube">
            <img src="/assets/github-logo-fill.svg" alt="github">
        </div>
    </div>
    <div class="text-gray-700 font-light text-center">© 2024 Alugaí, Inc. Todos os direitos reservados.</div>
</footer>
