<th:block>

    <div th:if="${products.hasContent()}"
         class="grid grid-cols-2 gap-4 mb-4 sm:mb-6 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">

        <a target="_blank"
           class="hover:bg-gradient-to-t from-teal-50 transition-all shadow-sm hover:shadow-md border border-slate-200 p-3 rounded-lg hover:scale-105 ease-in-out duration-200"
           th:href="@{|/products/${product.id}|}"
           th:each="product : ${products}">
            <div class="aspect-[8/7] w-full overflow-hidden rounded-lg bg-white border border-slate-300">
                <img th:src="@{|/files/${product.photoPath}|}"
                     class="h-full w-full object-cover object-center aspect-square border-none" alt="">
            </div>
            <div class="text-sm text-gray-600 mt-4 flex gap-1 items-center">
                <img class="size-4 opacity-50" src="/assets/map-pin-fill.svg" alt="location-icon">
                <div th:text="${product.city}"></div>
            </div>
            <h3 class="mt-1 text-md text-gray-700 truncate max-w-40" th:text="${product.name}"></h3>
            <p class="mt-1 text-lg font-medium text-gray-900"
               th:text="${'R$ '+#numbers.formatDecimal(product.price, 1, 'POINT', 2, 'COMMA')}"></p>
        </a>

    </div>

    <div
            th:if="${products.hasNext()}"
            id="more-products"
            class="flex flex-col items-center mt-12">
        <div
                th:hx-get="|/products/list?category=${category}&page=${page + 1}&q=${query}|"
                hx-target="#more-products"
                hx-trigger="revealed"
                hx-swap="outerHTML">
            <img class="opacity-60 animate-spin" src="/assets/circle-notch.svg" alt="spin">
        </div>
    </div>

    <div th:if="${products.totalElements == 0}"
         class="flex flex-col items-center opacity-60">
        <img class="w-32" src="/assets/smiley-sad-thin.svg" alt="smiley sad">
        <div>
            Sem produtos
        </div>
    </div>

</th:block>