main {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.categories-container {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background-color: lightsteelblue;
    overflow: hidden;

    & a {
        text-decoration: none;
        flex-grow: 1;
        font-size: 20px;
        padding: 10px;
        text-align: center;
        color: black;
    }

}

.product-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.product-card {
    overflow: hidden;
    background-color: lightgray;
    border-radius: 12px;
    height: 200px;

    width: 100%;
    max-width: 240px;

    & img {
        height: 80%;
        width: 100%;
        object-fit: cover;
    }

    & div {
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}