main {
    display: flex;
    gap: 36px;
}

.content {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 12px;

    & h2 {
        font-size: 32px;
    }

    & div {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    & p {
        max-width: 560px;
    }

    & img {
        width: 40px;
        border-radius: 99px;
    }

    & button {

    }

}

img {
    max-height: 480px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 12px;
}