<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minha Conta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header th:replace="~{/fragments/header :: header}"></header>
    <main class="flex flex-col items-center pt-24 p-4">
        <div class="flex max-lg:flex-col gap-6 w-full max-w-7xl">
            <div class="flex-1">
                <h1 class="text-3xl">Minha Conta</h1>
                <div class="text-xl mt-4">Dados Pessoais</div>
                <div class="flex flex-col divide-y shadow-sm divide-slate-300 mt-4 bg-slate-50 border border-slate-300 rounded-lg max-w-lg">
                    <a class="flex px-3 py-2 gap-6 justify-between">
                        <div>Nome</div>
                        <div th:text="|${user.name} ${user.surname}|"></div>
                    </a>
                    <a class="flex px-3 py-2 gap-6 justify-between">
                        <div>E-mail</div>
                        <div th:text="${user.email}"></div>
                    </a>
                    <a class="flex px-3 py-2 gap-6 justify-between">
                        <div>Nome de usuário</div>
                        <div th:text="${user.username}"></div>
                    </a>
                </div>
                <div th:if="${!#lists.isEmpty(user.products)}">
                    <div class="text-xl mt-4">Produtos Cadastrados</div>
                    <div class="flex flex-col divide-y divide-slate-300 mt-4 shadow-sm bg-slate-50 border border-slate-300 rounded-lg max-w-lg">
                        <a class="flex px-3 py-2 gap-6 justify-between"
                           th:href="@{|/products/${product.id}}"
                           th:each="product : ${user.getProducts()}">
                            <div class="truncate max-w-64" th:text="${product.name}"></div>
                            <div th:text="${product.category.name}"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex flex-col items-center flex-1">
                <div class="border w-full max-w-md border-slate-300 bg-slate-50 shadow-sm rounded-lg flex flex-col items-center p-6 gap-4">
                    <img
                            class="aspect-square h-48 aspect-square object-cover rounded-full border border-slate-300"
                            th:src="|/public/${#authentication.name}.png|" alt="">
                    <form class="flex flex-col items-center gap-4" enctype="multipart/form-data"
                          action="/add/update-photo"
                          method="post">
                        <label>
                            Imagem:
                            <input class="w-full" name="photo" type="file" required>
                        </label>
                        <button class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                            Atualizar foto
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>