<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <main>
        <form method="post" action="/login">
            <div class="error" th:if="${param.error}">Usuário/Senha inválido</div>
            <h2>Aluga Ai</h2>
            <label>
                Nome de Usuário
                <input type="text" id="username" name="username" placeholder="Nome de Usuário..." required autofocus>
            </label>
            <label>
                Senha
                <input type="password" id="password" name="password" placeholder="Senha..." required>
            </label>
            <button type="submit">Entrar</button>
        </form>
        <span>Não tem uma conta? Crie uma <a href="/register">aqui</a></span>
    </main>
</body>
</html>
