<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="overflow-y-scroll">

    <header th:replace="~{fragments/header :: header}"></header>

    <main class="flex flex-col items-center min-h-screen pt-24">

        <div class="mx-4 sm:bg-slate-50 flex justify-center gap-3 px-3 py-1 rounded-lg sm:shadow-sm sm:border border-slate-300 flex-wrap">
            <a href="/products"
               class="max-sm:border flex-1 text-center max-sm:shadow-sm border-slate-300 max-sm:bg-slate-100 px-3 py-1 rounded-md hover:bg-slate-200 transition-all">
                Todos
            </a>
            <a
                    class="max-sm:border flex-1 text-center max-sm:shadow-sm border-slate-300 max-sm:bg-slate-50 px-3 py-1 rounded-md hover:bg-slate-200 block transition-all"
                    th:each="category : ${categories}"
                    th:text="${category.name}"
                    th:href="@{|/products?q=${category.name}|}">
            </a>
        </div>

        <div class="mx-auto max-w-2xl px-4 py-8 sm:px-6 sm:py-16 lg:max-w-7xl lg:px-8">

            <div th:if="${!#lists.isEmpty(products)}"
                 class="grid grid-cols-2 gap-x-3 gap-y-4 sm:gap-x-6 sm:gap-y-10 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 xl:gap-x-8">

                <a class="bg-slate-50 border border-slate-300 p-3 rounded-lg shadow-sm hover:ring ring-teal-200 transition-all"
                   th:href="@{|/products/${product.id}|}"
                   th:each="product : ${products}">
                    <div class="aspect-square w-full overflow-hidden rounded-lg bg-white border border-slate-300">
                        <img th:src="@{|/files/${product.photoPath}|}"
                             class="h-full w-full object-cover object-center aspect-square border-none" alt="">
                    </div>
                    <h3 class="mt-4 text-sm text-gray-700 truncate max-w-40" th:text="${product.name}"></h3>
                    <p class="mt-1 text-lg font-medium text-gray-900">$48</p>
                </a>

            </div>

            <div class="flex flex-col items-center" th:if="${#lists.isEmpty(products)}">
                <img class="w-32" src="/assets/smiley-sad-thin.svg" alt="smiley sad">
                <div class="">
                    Sem produtos cadastrados
                </div>
            </div>

        </div>

    </main>

</body>
</html>