<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/fragments.css">
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>
    <main>
        <div class="categories-container">
            <a href="/products">
                Todos
            </a>
            <a
                    th:each="category : ${categories}"
                    th:text="${category.name}"
                    th:href="@{|/products?q=${category.name}|}">
            </a>
        </div>
        <div class="product-container">
            <a class="product-card"
               th:if="${!#lists.isEmpty(products)}"
               th:href="@{|/products/${product.id}|}"
               th:each="product : ${products}"
            >
                <img th:src="@{|/files/${product.photoPath}|}" alt="">
                <div th:text="${product.name}"></div>
            </a>
            <div th:if="${#lists.isEmpty(products)}">
                Sem itens cadastrados
            </div>
        </div>
    </main>
</body>
</html>